*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
.main{
    background-image: linear-gradient(rgba(8, 68, 81,0.8),transparent),url(images/login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

 .form{
    background-color: rgba(4, 34, 38,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 26px;
    width: 40vw;
    height: 70vh;
}.login{
    display: flex;
    flex-direction: column;
     align-items: center;
    justify-content: center;
    height: 90%;
    width: 90%;
}
.login h2{
    text-align: center;
    padding: 2rem;
    font-size: 5rem;
    color: #71C4D7;
}
.inst
{
    text-align: center;
    padding: 1.5rem;
    
}
.inst{
    font-size: 2.5rem;
    color: #ffffff;
}
.email{
    display: flex;
     align-items: center;
    justify-content: center;
    padding: 2rem;
    flex-direction: column;
    
}
#id_email{
    margin: 2rem;
    text-align: center;
    padding: 1.5rem;
    font-size: 2.5rem;

}
.button{
    margin: 2rem;
    text-align: center;
}
.submit{
     padding: 1.5rem 5rem;
  background: #224664;
  border: none;
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
  border-radius: 2rem;
  transition: 0.5s ease-in-out ;
  margin-top: 0.5rem;
}
.main_p{
    background-image: linear-gradient(rgba(8, 68, 81,0.8),transparent),url(images/login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
}
.para1,.para2{
    text-align: center;
    padding: 1.5rem;
    font-size: 2.5rem;
    color: #ffffff;

}
.new,.new2{
display: flex;
     align-items: center;
    justify-content: center;
    padding: 2rem;
    flex-direction: column;
}
.new_pass,.new_pass2{
    margin: 0 1rem;
    text-align: center;
    padding: 1.5rem;
    font-size: 2.3rem;
    }
#main{
display:flex;
justify-content:center;
align-items: center;
flex-direction:column;
}
.ul{
margin:0 1.5rem 0 4.5rem;
}
.ul_main{
color:white;
font-size:2rem;
}
@media screen and (max-width: 999px) {
  html {
    font-size: 45%;
  }
    .form{
        width: 60vw;
    height: 70vh;
    }
    #id_email{
    font-size: 1.5rem;
    line-height: 1.3rem;
    }
}