{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
<!--    <link rel="stylesheet" href="./password_reset.css">-->
    <link rel="stylesheet" href="{%static 'password_reset.css'%}">
  <title>Reset password</title>
</head>
<body>
  <div class="main">
    <div class="form">

<form method="post" class="login">
   {% csrf_token %}
     <h2>Password reset</h2>
  <div class="inst">
<p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
 </div>

        <div class="email">
	         <input type="email" name="email" autocomplete="email" maxlength="254" required="required" id="id_email" placeholder="Email">
            <div class="button">
	<input type="Submit" name="Send email" class="submit">
    </div>
        </div>

</form>
      </div>
    </div>
</body>
</html>
